@import url(about.css);
body {
  background: sandybrown;
  overflow-x: hidden;
}
::selection {
  color: sienna;
  background: white;
}
.frame {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: #a0522d;
  transform: scale(2) rotate(45deg);
  transition: 1s ease-in-out;
}

@keyframes spin {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid rgb(255, 253, 149);
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 100;
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgb(255, 253, 149);
  opacity: 0.3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 100;
}

.hover {
  background-color: white;
  border-color: white;
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

.menu_icon {
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 24px;
  color: rgb(255, 255, 255) !important;
  transition: 0.8s ease-in-out;
  z-index: 100;
}
.menu_icon:hover {
  color: #bb00ff;
}

.nav {
  position: fixed;
  top: 0;
  right: 0%;
  width: 100%;
  transform: scale(0);
  height: 110%;
  z-index: 98;
  background: rgba(244, 165, 96, 0.781);
  backdrop-filter: blur(10px);
  transition: 0.6s ease-in-out;
  border-radius: 25% 50% 25% 50%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.model {
  position: absolute;
  right: -180px;
  top: -430px;
  transform: scale(0.6);
}

.flower {
  position: absolute;
  font-family: signature;
  font-size: 100px;
  color: rgba(244, 165, 96, 0.176);
  z-index: 0;
}
.flower.v1 {
  color: rgba(160, 81, 45, 0.32);
}
.one {
  top: 0px;
  right: 30px;
}
.two {
  bottom: 0px;
  left: 30px;
  transform: rotate(-30deg);
  font-size: 128px;
}

@font-face {
  font-family: signature;
  src: url(./font/DeOrleans-YzwLo.otf);
}
.hero_text {
  margin: 100px 40px 20px 40px;
}
.normal {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  color: rgba(244, 165, 96, 0.85);
  padding-left: 40px;
  max-width: 40%;
}
.signature {
  font-family: signature;
  font-size: 130px;
  color: rgb(241, 182, 130);
  padding: 0px 0px 20px 20px;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
  font-family: signature;
  width: 100%;
  height: 100%;
  color: rgba(244, 165, 96, 0.389);
  font-size: 100px;
}


.nav_grid {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: fit-content;
  height: fit-content;
  padding: 60px;
}
.nav_grid a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 700;
  display: block;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 50%,
    rgba(255, 255, 255, 0) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  padding: 0px 12px;
}
.nav_grid a:hover {
  background-position: left bottom;
  color: sienna;
}
.social {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 60px;
  height: fit-content;
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  border-radius: 0px 20px 0 0;
}

.social_item {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  color: rgb(255, 253, 149);
  text-shadow: 0 0 30px rgb(255, 253, 149);
}
.social_item:hover {
  color: white;
  text-shadow: 0 0 20px white;
}
.line {
  height: 100px;
  width: 2px;
  background: rgb(255, 253, 149);
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  background: #a0522d;
  z-index: 200;
  transition: 1.5s ease-out;
}

.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
}

.a {
  display: inline-block;
  position: relative;
  width: 180px;
  height: 180px;
}
.a div {
  position: absolute;
  border: 5px solid sandybrown;
  opacity: 1;
  border-radius: 50%;
  animation: a 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.a div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes a {
  0% {
    top: 90px;
    left: 90px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 90px;
    left: 90px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 90px;
    left: 90px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 180px;
    height: 180px;
    opacity: 0;
  }
}
.social_resp{
  display: none;
}
.sayhi{
  text-decoration: none;
  padding: 14px 50px;
  display: block;
  width: fit-content;
  margin: 20px auto;
  background-color: sandybrown;
  border-radius: 14px;
  color: sienna;
  font-weight: 700;
}
.sayhi:hover{
  box-shadow: 0px 0 30px #f4a460;
}
@media screen and (max-width: 667px) {
  .frame {
    height: 100vh;
  }
  .social{
    display: none;
  }
  .model {
    transform: scale(0.4) translate(50%,50%);
    right: -180px;
    bottom: 0vh;

  }
  .signature {
    font-size: 80px;
  }
  .normal {
    max-width: 80%;
    color: rgba(244, 165, 96, 0.906);
  }
  .hero_text {
    margin: 100px 0;
  } 
  .box {
    top: 25%;
  }
  .nav {
    border-radius: 0;   
  }
  .social_resp{
    display: block;
    width: fit-content;
    flex-direction: row;
    margin: 100px auto;
  }
}







/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); this adds the "card" effect */
  padding: 20px 40px;
  text-align: center;
  /* background-color: #f1f1f1; */
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}





.project img {
	display: block;
	width: 100%;
} 

.cta {
	/* --shadowColor: 187 60% 40%; */
	/* display: flex; */
	/* flex-wrap: wrap; */
	background: #f4a460;
	max-width: 50rem;
	width: 100%;
	box-shadow: 0.65rem 0.65rem 0 #a0522d;
	border-radius: 0.8rem;
	overflow: hidden;
	border: 0.5rem solid;
}

.cta img {
	aspect-ratio: 3 / 2;
	object-fit: cover;
	flex: 1 1 300px;
	outline: 0.5rem solid;
}

.cta__text-column {
	padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
	flex: 1 0 50%;
}

.cta__text-column > * + * {
	margin: min(1.5rem, 2.5vw) 0 0 0;
}

.cta a {
	display: inline-block;
	color: #8a3409;
	padding: 0.5rem 1rem;
	text-decoration: none;
	background: #f4a460;
	border-radius: 0.6rem;
	font-weight: 600;
	border: 0.35rem solid;
}